html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.axes line {
  stroke: #ddd;
}

.axes path {
  /*stroke: #DDD;*/
}

.axes text {
  fill: #ddd;
}

.container {
  display: flex;

  align-items: stretch;
  align-content: stretch;

  overflow: hidden;
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

svg {
  background: white;
}

.ui {
  display: flex;
  flex-direction: column;
  flex-grow: 0;

  pointer-events: none;

  align-items: stretch;
  align-content: stretch;

  overflow: hidden;
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlayContainer {
  position: relative;
  pointer-events: none;

  align-self: stretch;
  flex-grow: 1;

  /*display: flex;*/

  /*flex-direction: row;*/
  /*justify-content: space-between;*/
}

.overlayContainer div {
  pointer-events: all;
}

.bottomBar {
  font-family: Courier;
  pointer-events: all;
  position: relative;
  display: flex;
  margin: 0 20 20 20;
  flex-direction: column;
  align-items: stretch;
}

.dragContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-grow: 1;
}

.jsonEnvelope {
  font-family: Courier;
  position: absolute;

  pointer-events: none;
  user-select: none;

  flex-grow: 1;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: stretch;
}

.jsonOuter {
  background: rgba(0, 0, 0, 0);

  flex-grow: 1;

  display: flex;
  margin: 64px;
  flex-direction: column;
  align-items: stretch;
}

.jsonInner {
  background: rgba(255, 255, 255, 0.5);
  border: 8px solid black;

  pointer-events: all;

  flex-grow: 1;

  display: flex;
  margin: 32px;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.jsonText {
  background: rgba(255, 255, 255, 1);

  pointer-events: all;

  flex-grow: 1;

  display: flex;
  margin: 32px;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.victoryEnvelope {
  font-family: Courier;
  position: absolute;

  pointer-events: none;
  user-select: none;

  flex-grow: 1;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.victoryOuter {
  background: rgba(0, 0, 0, 0);

  flex-grow: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.victoryInner {
  background: #fcfcfc;
  border: 2px solid #eee;
  border-radius: 16px;

  pointer-events: all;

  margin: 32px;
  padding: 32px 32px 0 32px;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  /* box-shadow: 5px 10px 5px #444; */
}

.victoryHeading {
  font-family: Verdana;

  font-size: 32px;

  padding: 0;
  margin: 0 0 32px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.victoryNextLevel {
  margin: 0 0 0 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.victoryUrl {
  font-family: Verdana;

  font-size: 16px;
  text-overflow: ellipsis;

  padding: 0;
  margin: 0 0 32px 0;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.victoryButton {
  font-family: Verdana;
  background: #24d;
  color: white;

  min-width: 144px;
  cursor: pointer;

  font-size: 16px;
  border-radius: 10px;

  padding: 0;
  margin: 0 0 32px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.1s;
}

.victoryButton > div {
  user-select: none;
  cursor: pointer;

  display: flex;
  margin: 8px;
  flex-direction: column;

  align-items: center;

  transition: 0.1s;
}

.victoryButton:hover {
  background: white;
  color: black;
}

.bottomExpander {
  flex-grow: 1;
}

.expression {
  height: 25px;
  display: flex;
  flex-grow: 1;
  /*position: absolute;*/
  left: 0;
  right: 0;
  align-self: stretch;
  align-items: stretch;
  align-content: stretch;
}

.expressionEnvelope {
  height: 25px;
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: stretch;
  align-content: stretch;
}

.expressionHandle {
  width: 25px;
  display: flex;
  background: #444;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #888;
  user-select: none;
}

.buildExpression {
  flex-grow: 1;
  display: flex;
  background: white;
}

.buildExpressionInput {
  flex-grow: 1;
  background: white;
  font-family: Courier;
  font-size: 12px;
}

.expressionTextEnvelope {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-shrink: 1;
  flex-grow: 1;
  background: white;
  position: relative;
}

.editExpression {
  flex-grow: 1;
  display: flex;
  background: #fbfbfb;
}

.buildExpressionEnvelope {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  background: #fbfbfb;
}

.editExpressionEnvelope {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  background: #fbfbfb;
}

.playExpressionEnvelope {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  display: flex;
  background: #fbfbfb;
}

.editExpressionSegments {
  display: flex;
  flex-grow: 0;
}

.editExpressionSegment {
  align-content: stretch;
  align-items: stretch;
  position: relative;
  flex-grow: 0;
  display: flex;
}

.editExpressionTail {
  flex-shrink: 1;
  flex-grow: 1;
  background: #fbfbfb;
}

.editExpressionInput {
  text-align: center;
  background: #fbfbfb;
  border-style: dashed;
  border-color: #e2e2e2;
  border-width: 1px;
  font-family: Courier;
  font-size: 12px;
  padding: 0px 3px;
  margin: 3px 0px;
}

.playExpression {
  flex-grow: 1;
  display: flex;
  background: white;
}

.playExpressionText {
  font-size: 14px;
  flex-grow: 1;
  color: #fff;
  background: #666;
  padding: 0px 3px;
  border: 1px inset #888;
  font-family: Courier;
}

.removeExpressionRegion {
  height: 100;
  opacity: 0;
}

.addExpressionButton {
  color: #fff;
  background: #666;
  pointer-events: all;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;

  width: 30px;
  height: 30px;

  margin: 5px;
  border-radius: 15px;

  align-self: flex-end;

  cursor: pointer;

  transition: 0.2s;
}

.addExpressionButton:hover {
  color: #000;
  background: #fff;
}

.buildButton {
  color: #ccc;
  background: transparent;
  pointer-events: all;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 0;

  height: 20px;

  padding: 0px 4px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  align-self: flex-end;

  cursor: pointer;

  transition: 0.2s;
}

.buildButton:hover {
  color: #000;
  background: #fff;
  border: 1px solid black;
}

.startButton {
  color: #fff;
  background: #0c0;
  pointer-events: all;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: 0;

  width: 8vh;
  height: 8vh;

  margin: 5px;
  border-radius: 4vh;

  align-self: flex-end;

  cursor: pointer;

  transition: 0.2s;
}

.startButton:hover {
  color: #000;
  background: #fff;
}

.startButtonLabel {
  font: 2vh Arial;
}

.stopButton {
  color: #fff;
  background: #c00;
  pointer-events: all;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: 0;

  width: 8vh;
  height: 8vh;

  margin: 5px;
  border-radius: 4vh;

  align-self: flex-end;

  cursor: pointer;

  transition: 0.2s;
}

.stopButton:hover {
  color: #000;
  background: #fff;
}

.removeExpressionRegion {
  position: absolute;
  display: flex;
  pointer-events: all;

  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;

  background: #800;
  color: #888;
}

.removeExpressionRegionText {
  display: flex;

  background: transparent;
  color: #888;
}